body{
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1080px;
}

header {
    background-image: url(img/pattern.png);
    height: 100px;
    background-color: lightblue;
    background-position: top left;
    background-size: 35%;
}

header > img{
    height: 100%;
    width: 20%;
}

h1{
    margin-bottom: 0;
    font-size: 35px;
}

.caption-title, .caption-title-date {
    color: #888888;
}

.caption-title{
    font-size: 18px;
    
}

#caption-title-text {
    color: lightblue;
}

.caption-title-date {
    font-size: 12px;
    margin-top: 5px;
}

#images-section{
    margin-top: 20px;
}

.caption-images{
    font-size: 11px;
}