body{
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

header {
    background-image: url(img/pattern.png);
    height: 100px;
    background-color: lightblue;
    background-position: top left;
    background-size: 35%;
}

header > img{
    height: 100%;
    width: 20%;
}